# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
venv/
.env/
.venv/

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json

# VSCode / IDEs
.vscode/
.idea/

# OS / Editor
.DS_Store
Thumbs.db

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Environment variable files
.env.local
.env.*.local

# PyInstaller
*.manifest
*.spec

# coverage
.coverage
.coverage.*
